@keyframes animateKiss_1920 {
    0%{
        display: block;
        transform: scale(0);
        top: 53vh;
        right: 33vw;
    } 
    100%{
        transform: scale(1.5);
        top: 66vh;
        right: 18vw;

    }
    
}

@keyframes animateKiss_1640 {
    0%{
        transform: scale(0);
        top: 42vh;
        right: 32vw;
    } 
    100%{
        transform: scale(1.5);
        top: 66vh;
        right: 18vw;

    }
    
}

@keyframes animateKiss_1540 {
    0%{
        transform: scale(0);
        top: 46vh;
        right: 32vw;
    } 
    100%{
        transform: scale(1.5);
        top: 66vh;
        right: 18vw;

    }
}

@keyframes animateKiss_1440 {
    0%{
        transform: scale(0);
        top: 41vh;
        right: 32vw;
    } 
    100%{
        transform: scale(1.5);
        top: 66vh;
        right: 18vw;

    }
}

@keyframes animateKiss_1280 {
    0%{
        transform: scale(0);
        top: 38vh;
        right: 18vw;
    } 
    100%{
        transform: scale(1.5);
        top: 66vh;
        right: 18vw;

    }
    
}

@keyframes animateKiss_1024 {
    0%{
        transform: scale(0);
        top: 34vh;
        right: 27vw;
    } 
    100%{
        transform: scale(1.5);
        top: 66vh;
        right: 18vw;

    }
}

@keyframes animateKiss_810 {
    0%{
        transform: scale(0);
        top: 25vh;
        right: 8vw;
    } 
    100%{
        transform: scale(1.5);
        top: 66vh;
        right: 18vw;

    }
    
}

@keyframes animateKiss_410 {
    0%{
        transform: scale(0);
        top: 34vh;
        right: 27vw;
    } 
    100%{
        transform: scale(1.5);
        top: 66vh;
        right: 18vw;

    }
    
}


.main-section {
    padding-top: 93px;
    height: 1515px;
    display: flex;
    flex-direction: column;
    color: white;
    padding-left: 110px;
    background-image: url('../../assets/images/main-bg.png');
    background-size: cover;
    
    .animated-lip {
        position: absolute;
        width: 110px;
        height: 69px;
        animation: animateKiss_1920 4s linear infinite;
    }
   

    .promo-title {
        margin: 15px 0 70px 0;

        h1 {
            margin: 0;
            font-family: 'Roboto-Bold';
            font-size: 71px;
            line-height: 1.3;
        }

        h3 {
            font-family:  'Roboto-Bold';
            font-size: 30px;
            text-transform: uppercase;
            margin-top: 21px;
            margin-bottom: unset;

            span{
                &:first-child {
                    color: #FE9600;
                }
                
                &:last-child {
                    font-family: 'Roboto-Light';
                }

            }
        }
    }

    .reg-button {
        width: 100%;
        max-width: 557px;
        height: 61px;
        outline: none;
        border: none;
        background-color: #FE9600;
        margin-top: 70px;
        font-size: 21px;
        font-family:  'Roboto-Bold';
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        outline: none;
        cursor: pointer;
    }
    
    .reg-main-right {
        h1 {
            margin-top: 0;
            font-family: 'Roboto-Bold';
            font-size: 50px;
            color: #FE9600;
        }

        h3 {
            font-family: 'Roboto-Light';
            font-size: 30px;
            color: #FFFFFF;
        }

        p {
            font-family: 'Roboto-Bold';
            font-size: 30px;
            color: #FFFFFF;
        }
    }
}

.second-section {
    padding-top: 93px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: black;

    p {
        &:nth-child(3) {
            font-family: 'Roboto-Bold';
            font-size: 30px;
            margin: 0 auto;
            text-transform: uppercase;
        }
    }

    .section-title {
        margin: 0 auto;
        padding-left: 5%;
        p {
            font-family: 'Roboto-Bold';
            font-size: 30px;
            text-transform: uppercase;
        }
    }

    .separator {
        height: 2px;
        background-color: #FE9600;
        position: relative;
        margin-top: 50px;

        .circle-wrap {
            position: absolute;
            top: -20px;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            display: flex;
            justify-content: space-between;
            width: 100%;
            max-width: 1135px;

            .circle {
                display: flex;
                flex-direction: column;
                align-items: center;

                span {
                    &:first-child {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: #FE9600;
                        font-family: 'Roboto-Bold';
                        font-size: 20px;
                        color: #000000;
                        margin-bottom: 20px;
                    }

                    &:last-child {
                        text-align: center;
                        font-family: 'Roboto-Light';
                        font-size: 20px;
                        color: #FFFFFF;
                    }
                }
            }
        }
    }

    .rooms-wrap {
        width: 82%;
        max-width: 1575px;
        margin: 0 auto;
        box-sizing: border-box;

        .rooms-header {
            display: flex;
            align-items: center;

            p{
                font-family: 'Roboto-Bold';
                font-size: 20px;
                color: #FFFFFF;
                margin: 0 10px;
                
            }
        
        }

        .rooms {
            box-sizing: border-box;
            padding: 0 53px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 0.9rem;
            margin: 50px 0;
        }

    }

}

@media(max-width: 1920px) {
    .main-section {
        background-size: contain;
        background-repeat: no-repeat;
        height: 1206px;
    }
}

@media(max-width: 1640px) {
    .main-section {
        background-size: cover;;
        height: 1006px;

        .animated-lip {
            animation: animateKiss_1640 4s linear infinite;
        }

        .promo-title {
            margin: 15px 0 50px 0;
    
            h1 {
                font-size: 61px;
            }
    
            h3 {
                font-size: 25px;
            }
        }

        .reg-button {
            margin-top: 55px;
        } 

    }
}

@media(max-width: 1540px) {
    .main-section {
        background-size: cover;;
        height: 906px;

        .animated-lip {
            animation: animateKiss_1540 4s linear infinite;
        }
        .promo-title {
            margin: 15px 0 40px 0;
        }
        .reg-button {
            max-width: 457px;
            margin-top: unset;
        } 
    }
}

@media (max-width: 1440px) {
    .main-section {
        .animated-lip {
            animation: animateKiss_1440 4s linear infinite;
        }
    }    
}

@media(max-width: 1280px) {
    .main-section {
        .animated-lip {
            animation: animateKiss_1280 4s linear infinite;
        }

        height: 956px;
    }
}

@media(max-width: 1024px) {
    .main-section {
        height: 670px;
        padding-left: 70px;

        .animated-lip {
       
            animation: animateKiss_1024 4s linear infinite;
        }

        .promo-title {
            h1 {
                font-size: 45px;
            }

            h3 {
                font-size: 18px;
                margin-top: 15px;
            }
        }
        
        .reg-button {
            max-width: 357px;
            margin-top: unset;
            height: 50px;
        }
    }

    .second-section {
        p {
            &:nth-child(1) {
                padding-top: 90px;
            }
        }
        .separator {
            .circle-wrap {
                max-width: 850px;
            }
        }
    }        
}

@media (max-width: 810px) {
    .main-section {
        .animated-lip {
            animation: animateKiss_810 4s linear infinite;
        }
    }

    .second-section {
        .separator {
            .circle-wrap {
                max-width: 585px;

                .circle {
                    span{
                        &:last-child {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 610px) {
    .main-section {
        padding-top: 93px;
        height: auto;
        display: flex;
        flex-direction: column;
        color: white;
        background-image: url('../../assets/images/main-bg.png');
        background-size: cover;
    
        .promo-title {
            margin: 15px 0 70px 0;
    
            h1 {
                margin: 0;
                font-family: 'Roboto-Bold';
                font-size: 71px;
                line-height: 1.3;
            }
    
            h3 {
                font-family:  'Roboto-Bold';
                font-size: 30px;
                text-transform: uppercase;
                margin-top: 21px;
                margin-bottom: unset;
    
                span{
                    &:first-child {
                        color: #FE9600;
                    }
                    
                    &:last-child {
                        font-family: 'Roboto-Light';
                    }
    
                }
            }
        }
    
        .reg-button {
            width: 100%;
            max-width: 557px;
            height: 61px;
            outline: none;
            border: none;
            background-color: #FE9600;
            margin-top: 70px;
            font-size: 21px;
            font-family:  'Roboto-Bold';
            text-transform: uppercase;
            display: flex;
            justify-content: center;
            align-items: center;
            outline: none;
            cursor: pointer;
        }
        
        .reg-main-right {
            h1 {
                margin-top: 0;
                font-family: 'Roboto-Bold';
                font-size: 50px;
                color: #FE9600;
            }
    
            h3 {
                font-family: 'Roboto-Light';
                font-size: 30px;
                color: #FFFFFF;
            }
    
            p {
                font-family: 'Roboto-Bold';
                font-size: 30px;
                color: #FFFFFF;
            }
        }
    }
    













    .second-section {
        padding-top: 93px;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        color: white;
        background-color: black;
    
        p {
            &:nth-child(3) {
                font-family: 'Roboto-Bold';
                font-size: 30px;
                margin: 0 auto;
                text-transform: uppercase;
            }
        }
    
        .section-title {
            margin: 0 auto;
            padding-left: 5%;
            p {
                font-family: 'Roboto-Bold';
                font-size: 30px;
                text-transform: uppercase;
            }
        }
    
        .separator {
            height: 2px;
            background-color: #FE9600;
            position: relative;
            margin-top: 50px;
    
            .circle-wrap {
                position: absolute;
                top: -20px;
                margin-left: auto;
                margin-right: auto;
                left: 0;
                right: 0;
                display: flex;
                justify-content: space-between;
                width: 100%;
                max-width: 1135px;
    
                .circle {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
    
                    span {
                        &:first-child {
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: #FE9600;
                            font-family: 'Roboto-Bold';
                            font-size: 20px;
                            color: #000000;
                            margin-bottom: 20px;
                        }
    
                        &:last-child {
                            text-align: center;
                            font-family: 'Roboto-Light';
                            font-size: 20px;
                            color: #FFFFFF;
                        }
                    }
                }
            }
        }
    
        .rooms-wrap {
            width: 100%;
            max-width: 1575px;
            margin: 0 auto;
            box-sizing: border-box;

            .rooms {
                padding: 0 35px;
            }
        }
    }        
    
}
